.header {
    background-color: #0958EB;
    height: 900px;
    background: linear-gradient(to bottom right, #1051E6, #540EB0);

    &__title {
        font-size: 2.5rem;
        color: $first-white-color;
    }

    &__title--paragraph {
        color: rgba(255, 255, 255, .5);
        margin-bottom: 30px;
        font-size: 1.15rem;
    }

    &__link{
        font-size: 0.7rem;
        padding: 1rem 1.5rem;
        color: #1f2d41;
        background-color: #eff3f9;
        border-color: #eff3f9;
        border-radius: 50rem;
        font-weight: 700;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }

    &__link:hover,
    &__link:focus {
        color: #1f2d41;
        background-color: #d3deef;
        border-color: #cad7eb;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        padding-top: 250px;
    }
    
    &__img {
        padding: 0 0 0 50px;
    }
}




