.nav__list {
    display: flex;
    align-items: center;
    font-family: $first-font;

}
.nav__list--link {
    font-weight: 700;
}


.container__nav {
    justify-content: space-around;
    display: flex;
    position: fixed;
    z-index: 777;
    background-color: $first-white-color;
    
}