.servicessecond {
    background-color: #bfecf2;
    padding: 6rem 0 6rem 0;

    &__caption {
        font-size: 1.4rem;
        color: #323f52;
        text-align: center;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: #323f52;
    }
    
    &__paragraph {
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.5;
        color: #687281;
    }

    &__list {
        display: flex;
    }

    &__list--wrapper {
        background-color: $first-white-color;
        width: 364px;
        box-shadow:0 14px 28px rgba(0, 0, 0, 0.05),
        0 10px 10px rgba(0, 0, 0, 0.08);
        margin: 0 1.5rem 0 1.5rem;
    }
}