.servicessecond {
    background-color: #EFF3F9;
    padding: 3rem 0 6rem 0;

    &__caption {
        font-size: 1.4rem;
        color: #323f52;
        text-align: center;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: #323f52;
    }
    
    &__paragraph {
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5rem;
        text-align: center;
        line-height: 1.5;
        color: #687281;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__list--item {
        margin-bottom: 5px;
    }

    &__list--span{
        color: #323f52;
        font-size: .875em;
        font-weight: 400;
    }

    &__caption {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: #323f52;
    }

    &__list--wrapper {
        background-color: $first-white-color;
        width: 310px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05),
        0 10px 10px rgba(0, 0, 0, 0.08);
        margin: 0 1.5rem 3rem 1.5rem;
        border-radius: 5px;
        padding: 1rem;
        border-top: 4px solid #0061f2;
    }

    &__link:hover {
        box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
        // box-shadow: 0 0.15rem 1.75rem 0 rgb(31 45 65 / 15%);
        // transition: box-shadow .15s ease-in-out,
        // transition: transform .15s ease-in-out,
        // box-shadow .15s ease-in-out;
        // transition: transform .15s ease-in-out,
        // box-shadow .15s ease-in-out,
    }

    &__wrapper--first {
        text-align: center;
        padding: 1rem 1rem 0.5rem 1rem;
    }

    &__img {
        margin-bottom: 20px;
    }

    &__wrapper--list {
        margin-left: 25px;
    }

    &__wrapper--second {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    &__wrapper--servers {
        margin-bottom: 25px;
        border-radius: 10rem;
        background-color: #bfd6f8;
        color: #0061f2;
        padding: 0.05rem;
    } 

    &__wrapper--next {
        border-radius: 10rem;
        background-color: #0061f2;
        padding: 0.75rem;
        color: $first-white-color;
    }
    
}

