@font-face {
    font-family: 'Metropolis';
    font-display: swap;
    src:
        url("./fonts/Metropolis.woff") format('woff'),
        url("./fonts/Metropolis.woff2") format('woff2'),

        url("./fonts/Metropolisblack.woff") format('woff'),
        url("./fonts/Metropolisblack.woff2") format('woff2'),

        url("./fonts/Metropolisblackitalic.woff") format('woff'),
        url("./fonts/Metropolisblackitalic.woff2") format('woff2');
}