.questions {
    padding: 6rem 0;

    &__caption {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: #0061f2;
        margin-top: 0;
    }

    &__paragraph {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #687281;
        text-align: left;
    }

    &__list {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #687281;
        text-align: left;
    }

    &__list  li::before {
        content: "\2022";
        font-weight: 100;
    }
}