.location {
    padding: 3rem 0 2rem 0;
    text-align: center;

    &__сaption {
        display: inline-block;
        padding: 0.5em;
        color: #0061f2;
        background-color: #bfd6f8;
        border-radius: 10rem;
        font-size: 75%;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__paragraph {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #687281;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

