.trojanvpn {
    margin: 6rem 0;

    &__paragraph {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: left;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #687281;
    }
}