// $primary-white-color: #ffffff;
// $primary-text-color: #212121;
// $title-text-color: #000000;
// $class-offers-works: #e5e5e5;
// $accent-color: #2196f3;
// $section-hero: #2f303a;
// $section-teams-button: #f5f4fa;

// $first-font: Roboto, sans-serif;
// $second-font: Raleway, sans-serif;


$first-white-color: #ffffff;
$first-black-color: #000000;
$first-text-color: #A87F7F;

$first-font: Roboto, sans-serif;
$second-font: Raleway, sans-serif;
