.header {
    background-color: #0958EB;
    height: 800px;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);


    &__title {
        font-size: 2.5rem;
        color: $first-white-color;
    }

    &__title--paragraph {
        color: rgba(255, 255, 255, .5);
        margin-bottom: 30px;
        font-size: 1.15rem;
        font-weight: 400;
        line-height: 1.5;
    }

    &__link{
        font-size: 0.7rem;
        padding: 1rem 1.5rem;
        color: #1f2d41;
        background-color: #eff3f9;
        border-color: #eff3f9;
        border-radius: 50rem;
        font-weight: 700;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }

    &__link:hover,
    &__link:focus {
        color: #1f2d41;
        background-color: #d3deef;
        border-color: #cad7eb;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        padding-top: 250px;
    }
    
    &__img {
        padding: 0 0 0 50px;
    }

    &__wrapper--svg {
        padding-top: 2rem;
        color: #eff3f9;
    }

    &__wrapper--svg svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;

    }
}

// Нижний svg

// .wave {
//     overflow: hidden;
//     vertical-align: middle;
// }

// .b {
//     clip-path: url(#a);
// }


